@model Blog.Models.DatabaseModels[]

@{
    ViewBag.Title = "Tutorials";
    Layout = "~/Views/Shared/_LayoutDisqus.cshtml";
}

@helper PrintInTable(IEnumerable<Blog.Models.DatabaseModels> M)
{
    <table class="table table-hover table-bordered">
        <tr>
            <th>Id</th>
            <th>Imię</th>
            <th>Stanowisko</th>
            <th>Miesięczne wynagordzenie</th>
        </tr>

        @{
            foreach (Blog.Models.DatabaseModels m in M)
            {
                <tr>
                    <td>
                        @m.ID
                    </td>
                    <td>
                        @m.Imie
                    </td>
                    <td>
                        @m.Stanowisko
                    </td>
                    <td>
                        @m.Wynagrodzenie
                    </td>
                </tr>
            }
        }
    </table>
}

<h2>List of tutorials</h2>

<img src="~/images/tutorials.jpg" class="media-object img-thumbnail margin-left-default" width="300" align="right" />
Here you can find a lot of programming tutorials:

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    SQL Tutorials
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                One<br />
                Two<br />
                Three
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    GIT Tutorials
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                One<br />
                Two<br />
                Three<br />
                Four
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    Another tutorials
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                One<br />
                Two<br />
                Three
            </div>
        </div>
    </div>
</div>


<article>
    <p>
        Zaczynając od zbędnego pitu-pitu - podstawową zapytaniem w języku SQL jest <code>SELECT</code>. Pozwala ono na wybór pewnego podzbioru danych.
        Przykładowo, załóżmy, że mamy takie dane:

        @PrintInTable(Model);
        @{
            int wartosc = 3000;
        }

        Aby wybrać wszystkie osoby z powyższej list można posłużyć się poniższym zapytaniem:
        <pre>SELECT * FROM test</pre>


        Jeśli natomiast chcielibyśmy wybrać tylko część rekordów można posłużyć się zapytaniem:

        <pre>SELECT * FROM test WHERE Wynagrodzenie < @wartosc </pre>
        Wynik tego zapytania:
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>Podaj kwotę będącą ograniczeniem zarobków</legend>
                <div class="editor-label">

                </div>
            </fieldset>
        }
        @{

        }
        @PrintInTable((from p in Model where p.Wynagrodzenie < wartosc select p))
    </p>
</article>
