<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mateul.com - programming and running</title>
    <link rel="icon" type="image/png" href="images/fav.png">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/mineHovers.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Mateul.com", "Index", "Home", new { }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!--Other links on a page-->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Tutorials")"><span class="glyphicon glyphicon-book"></span> Tutorials</a></li>
                    <li><a href='@Url.Action("Running")'><span class="glyphicon glyphicon-road"></span> Running</a></li>
                    <li><a href='@Url.Action("About")'><span class="glyphicon glyphicon-user"></span> About me</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Whole body container-->
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - mateul.com. This page using <a href="http://glyphicons.com/">glyphicons</a>.</p>
        </footer>
    </div>
    <!--Rendering the scripts-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
