@using System.Web.WebSockets
@{
    string currentControllerName = ViewContext.RouteData.Values["Controller"].ToString();
    Dictionary<string, string> actionNameDispayNameDictionary = new Dictionary<string, string>();
    actionNameDispayNameDictionary.Add("Aspnet", "ASP.NET");
    actionNameDispayNameDictionary.Add("Htmljs", "HTML & JS");
    actionNameDispayNameDictionary.Add("Databases", "Databases");
    actionNameDispayNameDictionary.Add("About", "About me");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Source code based website with tutorials, ASP.NET, HTML, JS and Databases">
    <meta name="keywords" content="HTML, CSS, JS, JavaScript, ASP.NET, Database, Databases, jstcode, just simple typing code">
    <title>jstcode.com - just simple typing code</title>
    <link rel="icon" type="image/png" href="../../images/shared/fav.png" alt="Fav ico">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/animateHighlight")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div id="fb-root"></div>
    <script src="~/Scripts/main/facebook.js"></script>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("jstcode.com", "Index", "Home", new { }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!--Other links on a page-->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @foreach (var actionNameDispayName in actionNameDispayNameDictionary)
                    {
                        <li class="animate-img
                            @(currentControllerName.Equals(actionNameDispayName.Key) ? "underline-text" : "")">
                            <a href='@Url.Action("Index", actionNameDispayName.Key)'>
                                <img src=@("/images/nav/" + actionNameDispayName.Key + ".png")
                                     class="margin-right-small" alt="Navbar icon" />
                                @actionNameDispayName.Value
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!--Whole body container-->
    <div class="container">
        @RenderBody()
        <!-- footer of the page -->
        <div class="row shadows footer">
            <footer>
                <div class="beam"></div>
                <div class="footer-background col-sm-12 col-md-12">
                    <div class="col-sm-4 col-md-4">
                        <img src="~/images/shared/logoWhite.png" alt="White logo" class="vertical-alligned" height="36" />
                        <span class="vertical-alligned footer-big-text">jstcode.com<br /></span>
                        <hr class="navigation" />
                        <span>
                            You are allowed to use all the codes and examples that you can find on the website.
                        </span>
                    </div>

                    <div class="col-sm-4 col-md-4">
                        <span class="vertical-alligned footer-big-text footer-default-height">Contact me<br /></span>
                        <hr class="navigation" />
                        <span>
                            e-mail: kademat[at]gmail.com
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <span class="footer-big-text">Navigate</span>
                        <hr class="navigation" />
                        @Html.ActionLink("Home page", "Index", "Home", new { }, new { @class = "bigger-navigate-item" })
                        <hr class="navigation-smaller" />
                        @foreach (var actionNameDispayName in actionNameDispayNameDictionary)
                        {
                            @Html.ActionLink(actionNameDispayName.Value, "Index", actionNameDispayName.Key, new { }, new { @class = "bigger-navigate-item" })
                            <hr class="navigation-smaller" />
                        }
                    </div>
                </div>
                <div class="footer-bottom" style="">
                    <span class="footer-bottom-text">
                        &copy; @DateTime.Now.Year - jstcode.com. This page using <a href="http://glyphicons.com/" target="_blank">glyphicons</a>.
                    </span>
                </div>
            </footer>
        </div>
    </div>
    <!--Rendering the scripts-->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/tocify")
    @RenderSection("scripts", required: false)
</body>
</html>
